/webshop-manager/.settings
/webshop-manager/.project
/webshop-manager-mapper/.project
/webshop-manager-mapper/.settings
/webshop-manager-mapper/.classpath
/webshop-manager-pojo/.project
/webshop-manager-pojo/.settings
/webshop-manager-pojo/.classpath
/webshop-manager-service/.project
/webshop-manager-service/.settings
/webshop-manager-service/.classpath
/webshop-manager-web/.gitignore
/webshop-manager-web/.project
/webshop-manager-web/.settings
/webshop-manager-web/.classpath
/webshop-parent/.project
/webshop-parent/.settings
/.recommenders
/RemoteSystemsTempFiles
/.metadata
/webshop-manager-service/target
/webshop-manager-pojo/target
/webshop-manager-mapper/target
